.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemInput {
  margin-right: 25px;
}

.singleToDoItem {
  display: flex;
  justify-content: space-between;
}

.complete {
  border-radius: 50%;
  width: 10px;
  height: 15px;

}